body {
  background-color: rgb(22, 22, 22);
  margin: 0;
  padding: 20px;
}

.head {
  color: #cceb45;
  text-align: center;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  margin: 40px 0;
}

.Lorem {
  color: white;
  text-align: justify;
  text-align-last: justify;
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 80px;
  max-width: 1000px;
  margin: 0 auto;
  line-height: 1.8;
  padding: 0 20px;
  text-transform: uppercase;  
  letter-spacing: -5px;  
}

.gbuttons {
  text-align: center;
  margin-top: 40px;
}

.save {
  background-color: #cceb45;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
}

.save:hover {
  background-color: #ffffff;
}